<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<servlet>
		<servlet-name>home</servlet-name>
		<servlet-class>movieratings.web.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>home</servlet-name>
		<url-pattern>/home</url-pattern>
		<init-param>
			<param-name>jsp-path</param-name>
			<param-value>/WEB-INF/jsp/home.jsp</param-value>
		</init-param>
	</servlet-mapping>
		

</web-app>